html{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #ff9900;
  --grey-color: #cacaca;
  --dark-color: #222;
  --dark-grey-color: #414141;
  --dark-orange-color: #E1670E;
  --light-orange-color: #FFB84D;
  --medium-grey-color: #666;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
 .list-reset{
    margin:0;
    padding: 0;
    list-style: none;
 }

 .container{
    max-width: 1920px;
    width: 100%;
    padding: 0 75px;
    margin: 0 auto;
    
 }

 /* header */